<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Javier Perez</title>

  <!-- Bootstrap Core CSS -->
  <%= stylesheet_link_tag "bootstrap.min.css" %>

  <!-- Custom CSS -->
  <%= stylesheet_link_tag "agency.css" %>

  <!-- Custom Fonts -->
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= render "layouts/shim" %>

</head>

<body id="page-top" class="index">

  <%= render "layouts/navigation" %>

  <%= render "layouts/header" %>

  <%= render "layouts/services" %>

  <%= render "layouts/portfolio" %>

  <%= render "layouts/about" %>

  <%= render "layouts/team" %>

  <%= render "layouts/whyme" %>

  <%= yield %>

  <%= render "layouts/footer" %>

  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->

  <%= render "layouts/modal1" %>

  <%= render "layouts/modal2" %>

  <%= render "layouts/modal3" %>  

  

  <!-- jQuery Version 1.11.0 -->
  <%= javascript_include_tag "jquery-1.11.0.js" %>

  <!-- Bootstrap Core JavaScript -->
  <%= javascript_include_tag "bootstrap.min.js" %>

  <!-- Plugin JavaScript -->
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" %>
  <%= javascript_include_tag "classie.js" %>
  <%= javascript_include_tag "cbpAnimatedHeader.js" %>

  <!-- Contact Form JavaScript -->
  <%= javascript_include_tag "jqBootstrapValidation.js" %>
  <%= javascript_include_tag "contact_me.js" %>p

  <!-- Custom Theme JavaScript -->
  <%= javascript_include_tag "agency.js" %>

</body>

</html>
